//#logo
//	a(href='#/customer/customerlogin.html')
//		img(src='../reitz_india.png')
#login
	h3.text-center Welcome
	form#login-form.form(ng-submit='customerViews()')
		.form-group.text-center
			label.radio-inline
				input#inlineradio1(type='radio',ng-model='userlogin.employer', value='employer',name='login')
				| Employee
			label.radio-inline
				input#inlineradio2(type='radio',ng-model='userlogin.customer', value='customer',name='login',ng-checked='true')
				| Customer
		.form-group
			label.control-label(for='login-username') Username
			.input-group
				span.input-group-addon
					i(class='glyphicon glyphicon-user')
				input#login-username.form-control(type='text',ng-model='userlogin.username', placeholder='Username')
		.form-group
			label.control-label(for='login-password') Password
			.input-group
				span.input-group-addon
					i(class='glyphicon glyphicon-eye-close')
				input#login-pasword.form-control(type='password',ng-model='userlogin.password' placeholder='Password')
		.form-group
			button#login-btn.btn.btn-primary.btn-block(type='submit')
				| Sign in
