br
br
br
br
.row#actions
	.col-md-4
		a(href='',ng-click='gotoNewProject()')
			img.img-responsive.img-circle(src='/images/FanProject_New.png')
		h3 New Project
	.col-md-4
		a(href='',ng-click='gotEditProject()')
			img.img-responsive.img-circle(src='/images/FanProject_Open.png')
		h3 Edit Project
	.col-md-4
		a(href='')
			img.img-responsive.img-circle(src='/images/FanProject_Clone.png')
		h3 Clone Project
