.col-md-9.col-md-offset-2
	.col-sm-5.col-md-5.pull-right
		form.navbar-form(role='search')
			.input-group
				input#srch-term.form-control(type='text', placeholder='Search Project', name='srch-term')
				span.input-group-addon
					i.glyphicon.glyphicon-search
.col-md-10.col-md-offset-1
	.panel.panel-primary
		.panel-heading
			h3.panel-title.text-center  Projects List
		.panel-body
			table.panel-body.table.table-hover.table-striped.tablesorter
				thead
					tr
						th.text-center S.No.
						th.text-center Project Name
						th.text-center Engineer
						th.text-center Date
				tbody#documents.text-center
					tr
						td 1
						td Reitz
						td Ravi Vantaku
						td 01/12/2014
					tr
						td 2
						td RewitzIndia
						td Siddu B
						td 01/22/2014
					tr
						td 3
						td Ri-vent
						td Chinna
						td 02/02/2014
					tr
						td 4
						td FanProject
						td Jaya krishana
						td 02/10/2014
					tr
						td 5
						td FanAnalystic
						td Naitik
						td 02/11/2014
					tr
						td 6
						td Reitz2
						td Amit
						td 02/18/2014
